<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- 配置Spring扫描的包 -->
    <context:component-scan base-package="com.tsp.server">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- Spring的配置文件，这里主要配置和业务逻辑有关的 -->
    <context:property-placeholder location="classpath:mysql/db.properties"/>

    <!-- 数据源 -->
    <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 整合MyBatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定mybatis全局配置文件的位置 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="dataSource" ref="pooledDataSource"/>
        <!-- 指定mybatis mapper文件的位置 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- 配置扫描器，将mybatis接口的实现加入到IOC容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描所有dao接口的实现，加入到IOC容器中 -->
        <property name="basePackage" value="com.tsp.dao"/>
    </bean>

    <!-- 配置一个可以执行批量的SQLSession -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <constructor-arg name="executorType" value="BATCH"/>
    </bean>

    <!--&lt;!&ndash; 事务控制的配置 &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="pooledDataSource"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 开启基于注解的事务 &ndash;&gt;-->
    <!--<aop:config>-->
        <!--&lt;!&ndash; 切入点表达式 &ndash;&gt;-->
        <!--<aop:pointcut expression="execution(* com.tsp.tr.service..*(..))" id="txPoint"/>-->
        <!--&lt;!&ndash; 配置事务增强 &ndash;&gt;-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint"/>	</aop:config>-->
    <!--&lt;!&ndash; 配置事务增强，事务如何切入 &ndash;&gt;-->
    <!--<tx:advice id="txAdvice">-->
        <!--<tx:attributes>-->
            <!--&lt;!&ndash; 所有方法都是事务方法 &ndash;&gt;-->
            <!--<tx:method name="*"/>-->
            <!--&lt;!&ndash; 以get开始的所有方法 &ndash;&gt;-->
            <!--<tx:method name="get*" read-only="true"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <import resource="classpath:spring/spring-mvc.xml"/>


</beans>